.preview-img {
	height: 600px;
	width: 500px;
	border: 2px solid black;
	margin: 2rem;
}
.blank-div {
	height: 600px;
	width: 500px;
	border: 2px solid black;
	margin: 2rem;
	display: inline-block;
}

.preview-root {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.preview-title {
	margin: 0;
}
