.preview-img {
  height: 400px;
  width: 300px;
  border: 2px solid black;
  margin: 2rem;
}
.blank-div {
  height: 400px;
  width: 300px;
  border: 2px solid black;
  margin: 2rem;
  display: inline-block;
}

.preview-root {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.preview-title {
  margin: 0;
}
