.Head {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009788;
  color: white;
  margin: 0;
  height: 80px;
}

.Head h1 {
  margin: 0;
}

.App {
  display: flex;
  height: calc(100vh - 80px);
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.preview {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Loader {
  width: 60px;
}

.upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload button {
  border: 2px solid #4a154b;
  color: #4a154b;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins";
}

.upload input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.features {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #1264a3;
}

.processed-tray {
  max-height: 100%;
  width: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f4ede4;
}

.processed-tray h3 {
  color: #4a154b;
}
